@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Italianno&family=Tangerine:wght@400;700&family=Tangerine:wght@400;700&display=swap');
body {
    display: flex;
    width: 100%;
    min-height: 150vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

* {
    font-family: 'Playfair Display';
}

h1 {
    font-family: 'Italianno';
    font-size: 80px;
}

h2 {
    font-size:40px;
    text-align: center;
    font-family: 'Italianno';
    
}
 /* Top section  */

.form-wrapper{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 100px;
    background-color: #f0ebe9;
}

#vision-text {
    font-size: 50px;
    font-family: 'Italianno';
}

.vision-section {
    margin-top: 15px;
}

#our-journey h3 {
    text-transform: capitalize;
}

h1 {
    text-align: center;
}

#form-left, #form-right{
    display: flex;
    min-height: 60vh;
    flex-direction: column;
}

#form-left {
    width: 40%;
    /* align-items: center; */
    /* justify-content:flex-end; */
    margin: 70px 20px;
}

#form-left img {
 margin-left: 30px;
}

#form-right .our-journey {
text-transform: capitalize;
}

#form-right{
    width: 50%;
    margin-right: 30px;
}

#form-right p {
    text-align: justify;

}

#form-right h3 {
    color: black;
}

/* Bottom - Who we are  */
#who-we-are{
    font-size: 50px;
    overflow: hidden;
}

#homepage-category-section h1 {
    margin: 40px 0;
}

#form-left img{
    width: 80%;
    /* position: absolute; */
    /* top: 150px;
    left: 150px; */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.section-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading-line{
    width: 120px;
    height: 3px;
    line-height: 1rem;
    border-bottom: brown solid;
    opacity: 0.5;
    text-align: center;
}



#mission-statement {
    margin-top: 0px;
    position: relative;
    color: #222;
    font-size: 20px;
}

i {
    transition: 200ms ease-in;
}

.description {
    opacity: 0.9;
    font-size: 20px;
    padding: 10px 0;
    text-align-last: center;
}

.cards p {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

#top h1 {
    text-align: center;
}

.search-box input{
    border-color: coral;
}

.search-box:focus{
   outline: none ;
}

.category-card{
    border-color: transparent;
    margin: auto;
    width: 90%;
    justify-content: center;
    align-items: center;
}

#card-grid {
    margin: 50px;
}

.category-card img {
    width: 100%;
}

.category-card h2 {
    color: #0c2340;
    margin: 15px 0;
    text-align: center;
}

.category-card p {
    text-align: justify;
    text-align-last: center;
    margin-bottom: 25px;   
    font-size: 18px;
}

i {
    cursor: pointer;
}

i:hover {
    box-shadow:(2px 2px 3px rgba(0, 0, 0, 0.2));
    opacity: 0.8;
}

.profile-links {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 15px 0;
}

.profile-links .fas, .fab {
    color: #a3a3a3;
    margin: 0 5px 15px 5px;
    font-size: 22px;
}

.profile-links i:hover {
    color: black;
}


@media (max-width: 800px) {

    .form-wrapper {
        flex-direction: column;
        overflow-x: hidden;
        margin-bottom: 0;
        padding-top: 0;
    }

    #form-left, #form-right {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        min-height: 40vh;
    }

    #form-left img {
        width: 100%;
        margin: 1px 0;
    }

    #about-us {
        font-size: 60px;
        margin-top: 20px; 
    }

    #form-right .description {
        font-size: 16px;
        text-align: justify;
        margin: 0 15px 30px 15px;
    }

    .vision-section {
        display: none;
    }

    #card-grid {
        margin: 0 auto;
    }

    .category-card {
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    .category-card img {
        width: 100%;
    }

    .category-card p {
        font-size: 16px;
    }

    .our-team {
        font-size: 60px;
        margin: 20px 0;
    }
}