/* HOMEPAGE SECTION */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Italianno&family=Tangerine:wght@400;700&family=Tangerine:wght@400;700&display=swap');
#shop-link, #shop-link1  {
    font-family: 'Playfair Display';
    text-align: justify;
    text-align-last: center;
    margin: 0 10px;
    margin-bottom: 22px;
    opacity: 0.8;
    color: black;
  text-decoration: none; /* no underline */
}

body{
    transition: 300ms ease-in;
}

#myBtn{
transition: 300ms ease;
}

.cut-line {
  border-bottom: 1px solid;
  border-bottom-color: #d1d1d1;
  width:60%;
  margin: 0 auto;
  text-align: center;
 }

h1 {
  font-family: 'Italianno','sans-serif';
}

p {
  font-family: 'Playfair Display';
}
/* Carousel */

.carousel-section img{
    cursor: pointer;
    width: 100%;
}

.carousel-indicators li {
    width: 20px;
    height: 5px;
    background-color: #5e5e5e;
}

/* About our Cakes */

#about-shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    flex-wrap: wrap;
    height: auto;
    margin: 100px 0;
    background-color: #fff;
}

#about-shop-mobile {
  display: none;
}

#about-shop div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    
}


#about-shop .about-description, h1 {
    display:flex;
    justify-content: center;
    text-align: center; 
    width: 60%; 
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
    
}

.about-description {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: justify;
    text-align-last: center;
    margin-top: 20px;
}

#about-shop #cakes-header {
    display:flex; 
    font-size: 80px;
}

#about-shop #delivery-header {
  display: flex;  
  font-size: 55px;
}

/* INSTAGRAM SECTION */

.happenings {
text-align: center;
font-size: 20px;
}

 #ig-header {
 text-align: center;
 font-size:80px;
 margin: 100px auto 50px auto;
 }

.home-btn{
margin: 30px 0;
font-family: 'Playfair Display';
border-color: #4d4d4d;
color: grey;
font-size: 18px;
}

.home-btn:hover {
background-color: #4d4d4d;
}

#ig-btn {
margin-bottom: 80px;
}


@media screen and (max-width: 800px) {

  hr {
    display: none;
  }

  /* All Carousel */

  .carousel-indicators li {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #5e5e5e;
}

  /* Home Carousel */

  .carousel-item-desktop {
    display: none ;
    } 

  .carousel-item-mobile {
    display: flex;
    height: 100%;
    /* margin: auto; */
  }

  #homepage-carousel-banner {
    margin-top: 85px;
  }

  #carousel-item1 {
    content: url("../images/cake1a-mobile.png");
  }

  #carousel-item2 {
    content: url("../images/cake3a-mobile.png");
  }

    #carousel-item3 {
    content: url("../images/cake2a-mobile.png");
    }


  /* About Section */

  #about-shop {
    display: none;
  }
 
  #about-shop-mobile {
    display: block;
    width: 85%; 
    margin: 50px auto 20px auto;
  }


  #about-shop-mobile h1 {
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    font-size: 35px;
    margin: auto;

    
}

#about-shop-mobile p {
    font-size: 16px;
    text-align: justify;
    text-align-last: center;
    font-family: 'Playfair Display';
    margin-top: 30px;
}

    #ig-header {
    margin: 0 auto 10px auto;
    font-size: 40px;
    }

    .home-btn {
    font-size:16px;
    }

    .cut-line {
    width: 40%;
    }

 }

